<h3>Post Cool URL</h3>
<div>
  <p>Your first name is <%= @first_name %></p>
  <p>Your favorite meal is <%= @favorite_meal %></p>
  <p>Your favorite cheese is <%= @cheese %></p>
  <p>Your favorite color is <%= @color %></p>
  <p>Yes, it is <%= @day %></p>
</div>
